<%= form_with(model: barangay, local: true) do |form| %>
  <% if barangay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barangay.errors.count, "error") %> prohibited this barangay from being saved:</h2>

      <ul>
      <% barangay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :list %>
    <%= form.text_field :list %>
  </div>

  <div class="field">
    <%= form.label :populations %>
    <%= form.text_area :populations %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
