<p id="notice"><%= notice %></p>

<h1>Barangays</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Populations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barangays.each do |barangay| %>
      <tr>
        <td><%= barangay.list %></td>
        <td><%= barangay.populations %></td>
        <td><%= link_to 'Show', barangay %></td>
        <td><%= link_to 'Edit', edit_barangay_path(barangay) %></td>
        <td><%= link_to 'Destroy', barangay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barangay', new_barangay_path %>
