<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @barangay.list %>
</p>

<p>
  <strong>Populations:</strong>
  <%= @barangay.populations %>
</p>

<%= link_to 'Edit', edit_barangay_path(@barangay) %> |
<%= link_to 'Back', barangays_path %>
