<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>

<p>the browser have a url and when you submit your form, the
form params are send to the controller and make some actions according to 
the routes are defined in routes.rb and the controller action, 
in this case create action, interacts with model this is very it 
checks for the validations and if all the validations are passed 
the user and saved into the databse so even though in application the 
controlers is first passed to the controller but the user is 
saved only once if all the validations are passed.</p>