<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @province.list %>
</p>

<p>
  <strong>Description:</strong>
  <%= @province.description %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
