<p id="notice"><%= notice %></p>

<p>
  <strong>Region name:</strong>
  <%= @region.region_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
